@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*=========== scrollbar style =============*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(48, 126, 243, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #307EF3;
  border-radius: 10px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: linear-gradient(158deg, #FAFAFA 0%, #FAFAFA 100%);
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.grid-left {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.result-content,.no-result-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.graph{
  width: 100%;
  height: 100%;
  padding: 20px;
}

.main-txt {
  font-size: 40px;
  font-weight: 700;
}

.sub-txt {
  font-size: 15px;
  color: #7a7a7a;
  line-height: 1.5rem;
  font-weight: 300;
}

/*=========== right-grid-box ============*/

.grid-right {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.upload-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 90px 153px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  flex-grow: 1;

}

.upload-preview {
  width: 100%;
  min-height: 220px;
  border-radius: 20px;
}

.upload-preview-grp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  border: 2px dashed #3333335d;
  border-radius: 20px;
}

.video-preview {
  width: 100%;
  border-radius: 20px;
}

.check-boxs {
  width: 100%;
  flex-grow: 1;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  gap: 20px;
}


.check-grp {
  display: flex;
  gap: 10px;
  font-size: 15px;
}

/* Hide the default checkbox */
.container input {
  display: none;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #2196F300;
  border-radius: 0.25em;
  transition: all 0.25s;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #307EF3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  border: 0.1em solid #307EF3;
  left: 0;
  top: 0;
  width: 1.05em;
  height: 1.05em;
  border-radius: 0.25em;
  transition: all 0.25s, border-width 0.1s;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border-color: #fff0 white white #fff0;
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0em;
  transform: rotate(45deg);
}


.upload-btn {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #307EF3;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

/*============== popup-window =============*/
.popup-window-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa85;
  backdrop-filter: blur(4px);
  height: 100vh;
  z-index: 10;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease-in-out;
}

.popup-window {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  z-index: 100;
  box-shadow: 0px 90px 153px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faces{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.face{
  width: 140px;
  height: 80px;
  border-radius: 10px;
  /* background-color: #307EF3; */
  object-fit: cover;
  cursor: pointer;
}

.bottom-box{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn{
  width: 100px;
  height: 56px;
  background-color: #307EF3;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/*============== responsive =============*/
@media(max-width:800px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media(max-width:480px) {

  .grid-left,
  .grid-right {
    padding: 20px;
  }

  .upload-preview {
    font-size: 14px;
  }
}

/*loader*/
.loader{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}

.loading-effect{
  width: 200px;
  border-radius: 50%;
  height: 200px;
}